* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}


body {
  position: relative;
}

.orange {
  position: absolute;
  // top: 距離上面的距離
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}


header {
  nav {
    width: 100%;
    ul {
      padding: 2rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 1.5rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;

  section.left {
    flex: 3 1 500px;
    padding: 2rem;
    h1 {
      font-size: 4rem;
      color: #e08958;
    }
    p {
      font-size: 1.25rem;
      padding: 1rem 0rem;
    }
  }
  section.right {
    flex: 1 1 600px;
    position: relative;
    img {
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
      position: absolute;
      top: 55vh;
      right: 25vw;
      transform: translateY(-50%);
    }
  }
  // 第二頁
  // border-collaps決定表格的邊框是分開的還是合併的
  // 合併（collapsed ）模式下，表格中相鄰單元共享邊框
  section.table {
    flex: 3 1 500px;
    padding: 2rem;
    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid gray ;
        // 轉場效果
        transition: all 0.2s ease;
        td {
          padding: 1rem;
        }
        &:hover {
          background-color: #ffd6be;
        }
      }
    }
  }
  section.picture {
    flex: 1 1 600px;
    position: relative;
    img {
      width: 30vw;
    }
    div.orangeRect {
      width: 30vw;
      height: 90vh;
      background-color: #e08958;
      position: absolute;
      top: 30px;
      left: 80px;
      z-index: -1;
    }
  }
  // 第三頁
  section.form {
    flex: 1 1 600px;
    form {
      // min-height 能夠設置元素的最小高度。
      min-height: 70vh;
      display: flex;
      // 主軸改為直的
      flex-direction: column;
      // 對齊主軸
      justify-content: space-around;
      padding: 1.5rem;
      div {
        margin: 0.5rem;
        label {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
        input, textarea  {
          background-color: #fca573;
          color: white;
          font-size: 1.25rem;
          padding: 0.5rem 0.25rem;
          // border 邊界
          border: none;
          width: 85%;
        }
        textarea {
          // 文字位置
          vertical-align: top;
        }
      }
      button {
        // 對齊母層flex行中的元素
        align-self: center;
        background-color: #e08958;
        color: white;
        border: none;
        cursor: pointer;
        padding: 0.75rem 1.5rem;
        font-size: 2rem;
        border-radius: 10px;
      }
    }
  }
  // 第三頁的中間線
  div.line {
    background-color: gray;
    width: 3px;
  }
  // 第三頁聯絡方式 
  section.contact {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    padding: 2rem;
    div.content {
      h2 {
        margin: 2rem 0rem;
      }
    }
  }
}

footer {
  a {
    padding: 1rem;
  }
}



.active {
  color: #e08958;
}






@media screen and (max-width: 1100px) {
  .orange {
    // opacity 透明度
    opacity: 0.5;
  }

  header {
    nav {
      ul {
        width: 100%;
        flex-direction: column;
        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid gray;
        }
      }
    }
  }
  // static 靜態的
  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      img {
        position: static;
        transform: none;
        width: 50vw;
        height: 50vw;
      }
    }
  }

  section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60vw;
    }
    div.orangeRect {
      display: none;
    }
  }
  div.line {
    display: none;
  } 
}
